public/yo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:string" name="apellido"/>
        <xs:element type="xs:short" name="edad"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>